.navbar {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.navbar ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
}